.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px; /* Adjust this width as needed */
    height: 400px; /* Adjust this height as needed */
    background-color: blueviolet;
    justify-content: flex-start;
    align-content: flex-start;
    border: 1px solid black;
    }
  
  .grid__item {
    flex: 1;
    background-color: white; /* Placeholder color */
    aspect-ratio: 1; /* Creates a square aspect ratio */
    box-sizing: border-box; 
    border: 0.1px solid rgb(187, 187, 187);
  }
  

  
/* 
.grid__item {
    width: auto;
    height: auto;
    margin: 0;
    border: 1px solid black;
    background-color: white;
    flex-basis: inherit;
    align-items: flex-end;
    flex-grow: 1;
} */